#navbar{
  position:fixed;
  left: 0;
  top: 0;
  font-weight: bold;
  border-color: black;
  color: #f7fbff;
}
#sidebar{
  display: grid;
  grid-template-columns: 100%;
  background-color: #1a2d3f;
  }
a{
   text-decoration: none;
   color: #f7fbff;
}
.nav-link{
  padding: 1em;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 0.5px;
  border-color: black;
  color: #f7fbff;
}
.nav-link:hover{
  background-color: #131526;
}
.empty{
  padding-bottom: 20em;
  background-color: #1a2d3f;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}
body{
  margin-left: 20em;
  background-color: #f7fbff;
  font-family: 'Open Sans',Arial,sans-serif;
  color: #010220;
}
#nav-header{
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 1em;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 0.5px;
  border-color: black;
  font-size: 1.1em;
}
h1{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
h2{
  margin-top: 2em;
  margin-bottom: 1em;
}
h3{
  
}
.code-box{
 background-color: #acadbb;
 font-size: 1.1em ;
 padding: 0.5em; 
 margin-right: 1em; 
}

@media screen and (max-width: 550px){
  #navbar{
    position: fixed;
    top: 0;
    margin-left: auto;  
  }
  #nav-header{
    grid-column: 1 / 3;
    text-align: center; 
    background-color:#000011;
  }
  #sidebar{
     display: inline-grid;
     grid-template-columns: repeat(2, minmax( 150px, 1fr));
  }
  .empty{
    padding: 0px;
  }
  #last-link{
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 0.5px;
  }
  body{
    margin-left: auto;
    margin-top: 10em;
  }
  .nav-link{
    padding: 0.5em;
  }
  #main-doc{
    margin-top: 20em;
  }
}
